
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
:root{
    --main-color: #00adb5;
    --light-gray : #b5b5b5;
    --dark-gray : #4E4E4E;
    --whit-color : #ffff;
    --black-color : #222;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
section{
    margin: 5rem 0 ;
    min-height: 100vh;
}


/* #region utility */
.spical{
    color: var(--main-color);
}
/* #endregion utility */

/* #region Header */
header{
    width: 100%;
    height: 90vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../imgs/header-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.header .col{
    color: var(--whit-color);
    text-align: center;
    margin: auto;
    min-height: 100vh;
}
.header .col h3{
    font-weight: bold;
    text-transform: uppercase
}
.header .col h1{
    font-size:2.5rem ;
    padding-bottom: 1rem;

}
.header .col h1 span{
    display: block;
}

.header .col div{
   display: flex;
   flex-direction: column;
   justify-content: center;
align-items: center;
}
.header .col div span{
   padding: 0.3rem 1rem;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    width: 15rem;
}
.header .col .cv-bownload {
    align-self: center;
margin: 1rem;
    padding: 0.5rem 2rem;
   background-color: var(--main-color );
}
.header .col .cv-bownload:hover{
        background-color: transparent;
        color: var(--main-color);
        border: 1px solid var(--main-color);
}
.social{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}
.social ul{
    display: flex;
    justify-content: center;
    align-items: center;
   list-style: none;
   padding: 0;
   margin-top: 1rem;
   gap: 2rem;
}

.social ul li a i{
    color: var(--light-gray);
    transition: all 0.5s ease;
    font-size: 1.5rem;
}
.social ul li a i:hover{
    color: var(--main-color);
    transform: scale(1.5);
}

/* #endregion Header */

/* #region nav */
nav{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    background-color: var(--main-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 9999;
    
}
nav #logo{
    border-radius: 50%;
}
nav ul{ 
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    padding: 0;
}
nav ul li{
    padding: 1rem 0.2rem;
    align-self: center;
 }
nav ul li a i{
    color: var(--black-color);
    
}
nav ul li img{
    width: 25px;
}
/* #endregion nav */

/* #region Resume Section */
.header-number span{

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 2rem 0;
}
.header-number span::before{
    content: " ";
    background-color: var(--main-color);
    width: 1.5rem;
    height: 0.2rem;
    border-radius: 10px;
    
}
.custom-header{
padding: 1rem 0;    
}

.custom-header span{
display: block; 
}
.custom-header span::after{
display: block;
content: " "; 
width: 5rem;
height: 0.5rem;
background-color: var(--main-color);
border-radius: 10px;
margin: 0.5rem 0;
}
.custom-card .date{
display: flex;
justify-content: start;
align-items: center;
padding: 1rem 0;
}
.custom-card .date i{
color: var(--main-color);
padding-right: 2rem;
}
.custom-card .date span{
background-color: var(--black-color);
color: var(--whit-color);
padding: 0.2rem 1rem;
}

.custom-card .content{
    border: none;
    border-left: 5px solid var(--black-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 2rem;
    margin-left: 0.5rem;
}
.custom-card:nth-child(even) .content{
   background-color: rgba(191, 190, 190, 0.2);
   
}
.custom-card .content p{
    max-width: 40rem;
}

.my-skills .skills-header span::after{
        display: block;
        content: " "; 
        width: 3rem;
        height: 0.2rem;
        background-color: var(--main-color);
        border-radius: 10px;
        margin: 0.5rem 0;
}

.my-skills .progress-div p{
    padding-top: 1rem;
    color: var(--main-color);
}
.my-skills .progress-div .progress-bar{
    height: 0.5rem;
    background-color: var(--light-gray);
    border-radius: 10px;
    width: 100%;

}
.my-skills .progress-div .progress-bar .bar{
   
    height: 0.5rem;
    border-radius: 10px;
    background-color: var(--main-color);

}
.w-100{width: 100%;}
.w-95{width: 95%;}
.w-90{width: 90%;}
.w-85{width: 85%;}
.w-80{width: 80%;}
.w-75{width: 75%;}
.w-70{width: 70%;}
.w-65{width: 65%;}
.w-60{width: 60%;}
.w-55{width: 55%;}
.w-50{width: 50%;}
.w-45{width: 45%;}
.w-40{width: 40%;}
.w-35{width: 35%;}
.w-30{width: 30%;}
.w-25{width: 25%;}
.w-20{width: 20%;}

/* #endregion Resume Section*/

/* #region Services Section*/
.services{
    background-color: var(--light-gray);
    padding: 5rem 0;
}
.services-cards.d-grid{
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 2rem;
}

.services-cards .card{
    transition: 0.5s ease;
    
}
.services-cards .card:hover{
    box-shadow: none;
}


/* #endregion Services Section*/

/* #region Works Section*/
.works .card{
    position: relative;
width: 25rem;
border-radius: none;
    
}
.works .card .card-body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.works .card .card-body img{
    width: 100%;
}
.works .card .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    opacity: 1;
    z-index: 100;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    opacity: 0;
    transition: 0.5s ease;
    color: var(--whit-color);
}
.works .card .cover:hover{
   opacity: 0.9;
}
.works .card .cover .btn{
    color: var(--main-color);
    background-color: var(--whit-color);
    padding: 1rem 2rem;
}
.works .card .cover .btn:hover{
    background-color: #4E4E4E;
}



/* #endregion Works Section*/

/* #region Footer*/
footer{
    height: 80vh;
    background-color: var(--black-color);
}
footer .row .col{
    width: 100%;
    height: 80vh;
    text-align: center;
    color: var(--whit-color);
}
footer .row .col h1{
    
    font-size: 3rem;
    
}
footer .row .col h3{
    font-style: italic;
    font-weight: 200;
    
}

/* #endregion Footer*/